body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #22343d;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  border-radius: 4px;
}

button:hover,
button:focus {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.wite-btn {
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.green-btn {
  background: #02897a;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wite-btn:hover,
.wite-btn:focus {
  border-radius: 4px;
  background-color: #ccfff2;
  transform: scale(1.02);
}

.green-btn:hover,
.green-btn:focus {
  background-color: #00b33c;
  transform: scale(1.02);
}

/* header */

.header {
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-nav {
  display: flex;
}
.nav-logo {
  display: flex;
  align-items: center;

  padding: 22px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  margin-right: clamp(20px, 237px, 237px);
}

.nav-logo-img {
  padding-right: 16px;
  margin-left: auto;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
}
.nav-list-item {
}
.active {
  font-weight: 600;
}
.nav-list-link {
  display: inline-block;
  line-height: 1.75;
  padding: 26px 0;
  color: #22343d;
}

.nav-list-link:hover,
.nav-list-link:focus {
  font-weight: 600;
}
.header-list-btns {
  display: flex;
  gap: 21px;
  margin-left: auto;
}
.header-list-btn-item {
}
.header-btn-sing-in {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  min-width: 105px;
  height: 42px;

  font-weight: 600;
  text-align: center;
  color: #173a56;
}
.header-btn-sing-up {
  border-radius: 4px;
  min-width: 113px;
  height: 42px;

  background-color: #02897a;

  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

/* main content */

/* hero */

.hero {
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 100px;
}
.hero-content {
  max-width: 465px;
}
.hero-titel {
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 18px;
}

.hero-titel-text {
  font-size: 18px;
  line-height: 1.5;
}

.hero-list {
  display: inline-flex;
  margin-top: 45px;
}
.hero-list-item {
}
.hero-btn {
  border-radius: 4px;
  min-width: 178px;
  height: 53px;
  background-color: #02897a;

  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
.hero-watch {
  height: 53px;
  min-width: 194px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  justify-content: center;
}

.icon-triangle {
  fill: #02897a;
}
.hero-image {
}

/* feature */

.feature {
}
.feature-container {
  margin: 0 auto;
}
.feature-title {
  margin-bottom: 50px;

  font-size: 32px;
  text-align: center;
}
.feature-list {
  display: flex;
  gap: 30px;
}
.feature-item {
  flex: 1 1 calc((100% - 90px) / 4);
}
.feature-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 19px;
  margin-bottom: 26px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feature-box:hover {
  transform: scale(1.2);
}
.feature-icon {
  fill: #fff;
}
.cursor {
  background-color: #02897a;
}
.weve {
  background-color: #4d8dff;
}
.like {
  background-color: #740a76;
}
.clock {
  background-color: #f03e3d;
}
.feature-subtitle {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}
.feature-text {
  line-height: 1.625;
}
.feature-btn-container {
  display: flex;
  justify-content: center;
  padding: 50px 0 50px 0;
}
.feature-btn {
  border-radius: 4px;
  min-width: 175px;
  height: 53px;
  background-color: #02897a;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

/* management */

.management {
  padding-top: 50px;
  padding-bottom: 100px;
}
.management-container {
  display: flex;

  gap: 84px;
  align-items: center;
}
.management-content {
}
.management-caption {
  font-weight: 600;
  margin-bottom: 8px;
}
.management-title {
  font-size: 32px;
  margin-bottom: 25px;
}

.management-text {
  line-height: 1.625;
}
.management-title + .management-text {
  margin-bottom: 30px;
}
.management-list {
}
.management-item:not(:last-child) {
  margin-bottom: 25px;
}
.management-subtitle {
  font-size: 16px;
  line-height: 1.625;
}
.management-img {
}

/* support */

.support {
  padding-bottom: 100px;
}
.support-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 84px;
}
.support-content {
  margin-right: 35px;
}
.support-caption {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
}
.support-title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 25px;
}
.support-title + .support-text {
  margin-bottom: 30px;
}
.support-text {
  font-size: 16px;
  line-height: 1.625;
}
.support-list {
}
.support-item {
  line-height: 1.625;
}
.support-item:not(:last-child) {
  margin-bottom: 25px;
}
.support-img {
}

/* collab */

.collab {
  padding-bottom: 150px;
}
.collab-container {
  display: flex;
  align-items: center;
  gap: 84px;
}
.collab-content {
}
.collab-caption {
  font-weight: 600;
  margin-bottom: 8px;
}
.collab-title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 25px;
}
.collab-title + .collab-text {
  margin-bottom: 30px;
}
.collab-text {
  line-height: 1.625;
}
.collab-list {
}
.collab-item {
}
.collab-subsubtite {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  margin-top: 25px;
  margin-bottom: 12px;
}

/* qvik and eazy process */

.process {
  padding-bottom: 100px;
}

.process-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 25px;
}
.process-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  max-width: 542px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.process-pozishen-list {
  display: flex;
  gap: 100px;
  justify-content: center;
  margin-bottom: 50px;
}
.process-pozishen-item {
}

.process-list {
}
.process-item:first-child {
  margin-bottom: 25px;
}
.process-item {
  display: flex;
  align-items: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.process-item:hover {
  transform: scale(1.1);
}

.process-item-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background-color: #fff;
  padding: 13px 20px;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  width: fit-content;
  border-radius: 25px;
  margin: 0 9px;
}
.process-img {
}
.process-btn {
  display: block;
  margin: 0 auto;
  min-width: 216px;
  height: 53px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #02897a;
}

/* strategies */

.strategies {
  margin-bottom: 171px;
}
.strategies-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 10px;
}
.strategies-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  padding-bottom: 40px;
}
.strategies-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.strategies-item {
  border: 1px solid #dedede;
  border-radius: 8px;
  overflow: hidden;
  width: 350px;
  height: 359px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.strategies-img {
}
.strategies-desr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  margin-top: 24px;
  margin-left: 24px;
}
.strategies-desr-part {
  font-weight: 700;
}
.strategies-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 12px 27px 40px 27px;
}

.strategies-item:hover .strategies-subtitle,
.strategies-item:focus .strategies-subtitle {
  color: #02897a;
}
.strategies-item:hover,
.strategies-item:focus {
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

/* price */

.price {
  margin-bottom: 100px;
}
.price-title {
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 10px;
}
.price-text {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 40px;
  text-align: center;
}
.price-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 72px;
}
.price-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  width: 322px;

  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.price-item:hover,
.price-item:focus {
  box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.3);
}
.price-card {
  display: flex;
  flex-direction: column;
}
.price-subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  color: #22343d;
  padding-top: 32px;
  margin-bottom: 8px;
}
.price-descr {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  margin-bottom: 10px;
}
.price-descr-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.31;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
  margin-bottom: 16px;
}
.price-descr-zero {
}
.price-descr-underbox {
}
.dollar {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
  margin-bottom: 4px;
  margin-right: 100%;
}
.dollar-descr {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.01em;
  color: #afafaf;
}
.dollar-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.dollar-item {
}
.dollar-paragraf {
  text-align: center;
}
.price-btn {
  margin-top: 30px;
  margin-bottom: 32px;
  border-radius: 8px;
  min-width: 139px;
  height: 44px;
  background: #02897a;

  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

/* stails for midle green prise card */

.price-item:nth-child(2n + 0) {
  background-color: #02897a;
  color: #fff;
}

.price-item:nth-child(2n + 0) .price-subtitle {
  color: #fff;
}
.price-item:nth-child(2n + 0) .price-descr-zero {
  color: #fff;
}

.price-item:nth-child(2n + 0) .dollar {
  color: #fff;
}

.price-item:nth-child(2n + 0) .dollar-descr {
  color: #e0e0e0;
}

.price-item:nth-child(2n + 0) .price-btn {
  background-color: #fff;
  color: #02897a;
}
.price-item:nth-child(2n + 0) .price-btn:hover {
  background-color: #ccfff2;
}

/* Clients review */

.review {
  margin-bottom: 100px;
}

.review-title {
  display: block;
  justify-self: center;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 1.78;
  letter-spacing: 0.01em;
  color: #22343d;
}
.review-subtitle {
  display: block;
  justify-self: center;
  margin-bottom: 40px;
  max-width: 537px;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #22343d;
}
.review-list {
  display: flex;
  align-items: center;
  gap: 64px;
}
.review-item {
  position: relative;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 28px 26px;
  width: calc((100%-128px) / 3);
  min-height: 240px;
}
.review-stars-img {
}
.review-client-img {
  position: absolute;
  left: 26px;
  bottom: 28px;
}
.review-client-text {
  padding: 16px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #737373;
}
.review-client-name {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 64px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}
.review-client-name-part {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  color: #252b42;
}

/* Promo */

.promo {
  margin-bottom: 100px;
}
.promo-container {
  display: flex;
  justify-content: space-between;
  max-width: 968px;
  margin: 0 auto;
  border: none;
  border-radius: 32px;
  background-color: #02897a;
}

.promo-box {
  padding: 49px 0 56px 51px;
}
.promo-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 151%;
  color: #fff;
  margin-bottom: 46px;
}
.promo-btn {
  border-radius: 8px;
  min-width: 150px;
  height: 50px;
  background-color: #fff;
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
}
.wite-btn {
}
.promo-img {
}

/* footer */
